beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
gevent==24.11.1
google==3.0.0
greenlet==3.1.1
idna==3.10
protobuf==6.30.2
requests==2.32.3
soupsieve==2.6
thread==2.0.5
typing_extensions==4.13.0
urllib3==2.3.0
websocket==0.2.1
websocket-client==1.8.0
zope.event==5.0
zope.interface==7.2
